.task-list {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
    padding: 1rem 1.5rem;
    background-color: rgba(255, 255, 255, 0.405);
    border-radius: 15px;
    position: relative;
}

.task-title {
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 67, 125);
    margin-block-end: 7px;
}

.task-control {
    display: flex;
    margin-block-start: 0.5rem;
    position: absolute;
    inset-inline-end: 0;
    inset-block-start: 0;
}

.task-control p {
    flex: 1;
    color: rgb(86, 86, 86);
}

.task-control svg {
    display: inline-block;
    margin: 0 7px;
    font-size: 16px;
    transition: all 0.2s;
    cursor: pointer;
}

.task-control svg:hover {
    transform: scale(1.3);
    color: rgb(210, 108, 30);
}

.task-control button {
    border: none;
    background-color: unset;
}

.task-description {
    max-inline-size: 480px;
}

.description {
    white-space: normal;
    word-break: break-word;
    padding-inline-end: 5rem;
}

.completed {
    background-color: rgba(125, 4, 4, 0.405);
    border: 1px solid rgba(255, 0, 0, 0.544);
    transition: background 0.6s;
}

.completed-message {
    text-align: center;
    position: absolute;
    align-self: center;
    margin-block-start: 1rem;
    font-weight: 600;
    font-size: 20px;
    color: rgb(148, 25, 25);
    transform: translateY(0);
}

.edit-mode {
    display: flex;
    column-gap: 1rem;
}

.edit-title {
    text-align: center;
    margin-block-end: 0.7rem;
}

.edit-mode input {
    border: none;
    outline: none;
    padding: 4px 8px;
    border-radius: 10px;
}

.save-edit-mode {
    border: none;
    padding: 5px 10px;
    block-size: fit-content;
    margin-block-start: auto;
    border-radius: 15px;
    background-color: rgb(17, 137, 129);
    color: aliceblue;
    cursor: pointer;
    transition: background 0.4s;
}

.save-edit-mode:hover {
    background-color: rgb(14, 114, 108);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.363);
}

.cancel-edit-mode {
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    block-size: fit-content;
    margin-block-start: auto;
    background-color: rgb(184, 25, 25);
    color: aliceblue;
    cursor: pointer;
    transition: background 0.4s;
}

.cancel-edit-mode:hover {
    background-color: rgb(162, 19, 19);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.363);
}

.edit-mode h4 {
    font-size: 14px;
}

.time-management-control {
    display: flex;
    column-gap: 1rem;
    overflow: hidden;
    max-block-size: 0;
    opacity: 0;
    transition: all 0.4s ease;
}

.timer-section-icons {
    display: flex;
    align-items: center;
    justify-self: center;
    border: none;
    outline: none;
    background-color: unset;
    margin: 5px auto;
    cursor: pointer;
    font-size: 17px;
}

.timer-section-oppener {
    transition: all 0.3s ease;
}

.timer-section-oppener.rotated {
    transform: rotate(180deg);
}

.time-management-control.dropdown-open {
    max-block-size: 200px;
    opacity: 1;
}

.timer-section-icons:hover .timer-section-oppener {
    color: rgb(37, 110, 114);
}

.time-management-inps {
    display: flex;
    column-gap: 1rem;
}

.time-management-inps input {
    border: none;
    outline: none;
    inline-size: 25px;
    block-size: 25px;
    padding: 5px;
    border-radius: 10px;
    margin-inline-start: 5px;
}

.timer-btns {
    display: flex;
    column-gap: 1rem;

}

.save-timer {
    border: none;
    outline: none;
    border-radius: 10px;
    display: flex;
    column-gap: 5px;
    align-items: center;
    background-color: rgb(43, 107, 137);
    color: white;
    padding: 4px 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.save-timer:hover {
    background-color: rgba(50, 129, 166, 0.9);
}

.reset-timer {
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: rgb(116, 35, 35);
    color: white;
    padding: 4px 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reset-timer:hover {
    background-color: rgba(157, 47, 47, 0.9);
}