@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Vazirmatn:wght@100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgb(221, 218, 195), rgb(210, 162, 136));
    font-family: "Vasirmath", sans-serif;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    display: grid;
    place-items: center;
    block-size: 100vh;
    overflow-y: auto;
}

/* Responsiveness */
@media(max-width:500px) {
    .container {
        block-size: 100vh;

    }

    .to-do-app {
        inline-size: 85%;
        text-align: center;
        margin-block-start: 1rem;
    }

    .header {
        padding: 1rem;
        inline-size: 100%;
    }

    .header h2 {
        font-size: 16px;
    }

    .inputs {
        display: block;
    }

    .task {
        margin-block-start: 1rem;
    }

    .inputs input {
        inline-size: 100%;
    }


    .task-title {
        font-size: 16px;
        text-align: start;
    }

    .task-control {
        display: block;
    }

    .task-control p {
        margin-block-end: 1rem;
    }

    .description p {
        font-size: 14px;
    }

    .edit-mode {
        flex-direction: column;
    }

    .edit-mode button {
        margin: 3px 0;
    }

    .edit-mode input {
        margin-block-end: 1rem;
    }

    .task-list {
        padding: 0.5rem 1rem;
    }

    .save-timer,
    .reset-timer {
        padding: 4px 8px;
        block-size: fit-content;
        margin-block-start: auto;
    }

    .time-management-control {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 0.5rem;
    }

    .countdown-display,
    .time-management-inps label {
        font-size: 14px;
    }

    .time-management-inps input {
        inline-size: 25px;
        block-size: 25px;
    }
}